.container {
    background-color: white;
    padding: 40px; /* 增加一些內邊距，讓表單看起來更寬鬆 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 80px auto; /* 增加上邊距讓表單位於頁面中間 */
    text-align: center;
}

/* 修改標題的樣式 */
.container h2 {
    margin-bottom: 30px; /* 增加下邊距 */
    font-size: 24px; /* 調整字體大小 */
    color: #333;
}

/* 表單欄位樣式 */
.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container input[type="date"] {
    width: 100%;
    padding: 12px; /* 調整內邊距，使欄位看起來更舒適 */
    margin-bottom: 25px; /* 調整下邊距以增加間隔 */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* 提交按鈕樣式 */
.container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px; /* 增大字體以使按鈕更顯眼 */
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: #003d82;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

/* 返回註冊連結樣式 */
.container .return-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.container .return-link:hover {
    text-decoration: underline;
    color: #0056b3;
}